@import '../../styles/index.css';

$animation-duration: 2s;

@mixin add-opacity-to-background($opacity) {
  background-color: rgba(255, 208, 167, $opacity);
}

.loader {
  @include flexbox($alignItems: center, $justifyContent: center);

  
  height: 100%;
  left: 0;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: 200ms opacity;
  width: 100%;
  z-index: 10;

  &.loader--hidden {
    opacity: 0;
    pointer-events: none;
  }

  & .loader__logo {
    height: 254px;
    position: relative;
    width: 254px;

    & .loader__background {
      @include flexbox($alignItems: center, $justifyContent: center);

      animation: pulse 2s infinite ease-in-out 1s;
      background-color: $color-white;
      border-radius: $border-radius-circle;
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 101;
    }

    &::before {
      @include add-opacity-to-background(0.1);

      animation: appear-expand ease-in-out $animation-duration infinite;
      border-radius: $border-radius-circle;
      content: '';
      height: 100%;
      position: absolute;
      width: 100%;
    }

    &::after {
      @include add-opacity-to-background(0.2);

      animation: appear-expand-secondary ease-in-out $animation-duration infinite 1s;
      border-radius: $border-radius-circle;
      content: '';
      height: 100%;
      position: absolute;
      width: 100%;
    }

    svg {
      width: 66%;
    }
  }
}

@keyframes pulse {

  0% {
    box-shadow: none;
  }

  25% {
    box-shadow: 0 0 $spacing-m 0 rgb(255 208 167);
  }

  30% {
    box-shadow: none;
  }

  100% {
    box-shadow: none;
  }
}

@keyframes appear-expand {

  0% {
    scale: 0;
  }

  25% {
    scale: 0;
  }

  50% {
    scale: 1.2;
  }

  75% {
    scale: 1.2;
  }

  90% {
    opacity: 1;
    scale: 2;
  }

  100% {
    opacity: 0;
    scale: 2;
  }
}

@keyframes appear-expand-secondary {

  0% {
    scale: 0;
  }

  25% {
    scale: 1.2;
  }

  50% {
    scale: 1.2;
  }

  65% {
    opacity: 1;
    scale: 2;
  }

  85% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    scale: 2;
  }
}
