@import '../../styles/index.css';

.intro__container {
  line-height: $line-height-ratio-m;
  padding: $spacing-l $spacing-s;

  & .intro__header {
    font-family: $font-family-mono;
    font-size: $font-size-s;

    & .intro__name {
      color: $color-aqua;
      display: block;
      font-size: $font-size-xl;
    }
  }

  & .intro__about {
    font-size: $font-size-xl;
  }

  & .intro__tech {
    font-size: $font-size-s;
  }
}

/* stylelint-disable-next-line media-feature-range-notation */
@media (max-width: 650px) {

  & .intro__container {
    padding-top: 0;
    
    & .intro__header {
      font-size: $font-size-s;

      & .intro__name {
        font-size: $font-size-l;
      }
    }

    & .intro__about {
      font-size: $font-size-l;
    }
  }
}
