@import '../../styles/index.css';

.navbar__wrapper {
  font-family: $font-family-mono;
  padding: $spacing-l $spacing-s;
}

.navbar__container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  font-size: $font-size-s;
  gap: $gap-m;
  justify-content: center;

  & .navbar__name {
    font-family: $font-family-sans;
  }
}

nav li:first-child {
  flex-basis: 100%;
  font-size: $font-size-xs;
  text-align: center;
}

nav [class*='fa-'] {
  color: $color-aqua;
  font-size: $font-size-m;
}

nav h1 [class*='fa-'] {
  color: $color-aqua;
}

nav [class*='fa-']:hover {
  color: $color-orange;
}

.navbar__cv-btn {
  background-color: $color-orange;
  border-radius: $border-radius-s;
  color: $color-black;
}

.navbar__cv-btn:hover {
  color: $color-white;
}

/* stylelint-disable-next-line media-feature-range-notation */
@media (min-width: 850px) {
  
  nav li:first-child {
    flex-basis: auto;
    margin-right: auto;
    text-align: left;
  }
}
