/* stylelint-disable media-feature-range-notation */
@import '../../styles/index.css';

.navbar__wrapper {
  @include flexbox($alignItems: center, $wrap: wrap, $justifyContent: center, $gap: $gap-m);

  font-family: $font-family-mono;
  padding: $spacing-l $spacing-s;
}

.navbar__logo {
  flex-basis: 100%;
  font-size: $font-size-medium;
  text-align: left;

  & .navbar__code-icon {
    color: $color-aqua;
    vertical-align: middle;

    &:hover {
      color: $color-orange;
    }
  }

  & .navbar__name {
    font-family: $font-family-sans;
  }
}

.navbar__container {
  @include flexbox($alignItems: center, $wrap: wrap, $justifyContent: center, $gap: $gap-m);

  font-size: $font-size-s;
}

& .navbar__linkedin-icon,
.navbar__github-icon {
  color: $color-aqua;
  font-size: $font-size-m;

  &:hover {
    color: $color-orange;
  }
}

.navbar__cv-btn {
  background-color: $color-orange;
  border-radius: $border-radius-m;
  color: $color-black;
  transition: all 0.2s ease-in;
}

.navbar__cv-btn:hover {
  transform: translateX(-2px) translateY(-2px);
}

.navbar__cv-btn:active {
  background-color: $color-yellow;
}

.navbar__burger-btn {
  background-color: inherit;
  color: $color-orange;
  display: none;
  font-size: $font-size-m;

  &:active {
    color: $color-white;
  }
}

@media (min-width: 850px) {

  .navbar__logo {
    flex-basis: auto;
    margin-right: auto;
    text-align: left;
  }
}

@media (max-width: 900px) {

  .navbar__logo {
    height: 100%;
    width: 100%;
  }

  .navbar__burger-btn {
    display: flex;
    position: absolute;
    right: $spacing-s;
    top: $spacing-burger-xl;
  }

  .navbar__container {
    flex-direction: column;
    height: 0;
    opacity: 0;
    overflow: hidden;
  }

  .navbar__burger-open {
    display: flex;
    height: auto;
    opacity: 1;
    transition: 0.5s ease-in-out;
  }
}

@media (max-width: 576px) {

  .navbar__logo {
    font-size: $font-size-s;
  }

  .navbar__burger-btn {
    top: $spacing-burger-l;
  }
}
