$font-family-mono: 'Oxygen mono', monospace;
$font-family-sans: oxygen, sans-serif;

$font-size-xs: 0.8rem;
$font-size-s: 1.25rem;
$font-size-m: 1.5rem;
$font-size-medium: 2rem;
$font-size-l: 2.5rem;
$font-size-xl: 4rem;

$line-height-ratio-m: 1.5;

$font-size-banner: 7rem;
