@import '../../styles/index.css';

.projects-heading {
  font-size: $font-size-m;
  padding: 0 $spacing-s;
}

/* stylelint-disable-next-line media-feature-range-notation */
@media (max-width: 576px) {
  
  & .projects-heading {
    font-size: $font-size-m;
  }
}
